<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbitech.mapper.DiffTransitionResultMapper">

    <insert id="upDiffTransitionResult">
        insert into diff_transition_result (move_id,
                                            move_name,
                                            difficulty_score,
                                            transition_score,
                                            details,
                                            failed_reason,
                                            move_quality_score,
                                            move_performance_score,
                                            jump_height,
                                            turn_body_angle,
                                            hit_leg_angle,
                                            runup_steps)
        values (#{moveId}, #{moveName}, #{difficultyScore}, #{transitionScore},
                #{details}, #{failedReason}, #{moveQualityScore}, #{movePerformanceScore}, #{jumpHeight},
                #{turnBodyAngle},#{hitLegAngle},#{runupSteps})
    </insert>

    <select id="getDiffTransitionResult" resultType="com.sbitech.dto.DiffTransitionResultDTO">
        select * from  diff_transition_result
            order by id desc
        limit 1
    </select>
</mapper>