<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sbitech.mapper.DisputesMapper">

    <update id="updateDisputesStatus1">
        UPDATE disputes d
            left join player_matches p on d.play_match_id = p.id
            left join scores s on s.player_match_id = p.id
        SET d.status         = #{status},
            d.review_opinion = #{reviewOpinion},
            d.review_time    = NOW(),
            s.score=#{score}
        WHERE d.id = #{id};
    </update>

    <update id="updateDisputesStatus2">
        UPDATE disputes
        SET status      = #{status},
            review_opinion = #{reviewOpinion},
            review_time = NOW()
        WHERE id = #{id};
    </update>

    <select id="disputesPage" resultType="com.sbitech.vo.DisputesVO">
        SELECT d.id,d.play_match_id,d.title,d.evidence_url,d.status,d.create_time,d.review_time,e.category
        FROM disputes d
        LEFT JOIN player_matches pm ON d.play_match_id = pm.id
        LEFT JOIN events e ON pm.events_id = e.id
        <where>
            <if test="startTime != null">
                AND d.create_time >= #{startTime}
            </if>
            <if test="endTime != null">
                AND d.create_time &lt;= #{endTime}
            </if>
            <if test="eventCategory != null and eventCategory != ''">
                AND e.category = #{eventCategory}
            </if>
            <if test="status != null and status != ''">
                AND d.status = #{status}
            </if>
        </where>
        ORDER BY d.id DESC
    </select>

    <select id="getDisputesDetail" resultType="com.sbitech.vo.DisputesDetailVO">
        select d.id,d.play_match_id,d.title,d.reason,d.evidence_url,d.status,d.review_opinion,d.create_time,d.review_time,
               e.name,e.category,
               s.score_c,
               u.real_name
        from disputes d
        left join player_matches p on d.play_match_id=p.id
        left join events e on p.events_id=e.id
        left join scores s on s.player_match_id=p.id
        left join player_info u on u.id=p.user_id
        where d.id=#{id};
    </select>


</mapper>
