<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbitech.mapper.EventsMapper">
    <select id="getCategory" resultType="com.sbitech.entity.Events">
        select distinct category
        FROM events;
    </select>

    <select id="getCompetition_Events" resultType="com.sbitech.dto.Competition_EventsQueryDTO">
        select c.competition_id,c.competition_name,c.start_date,c.end_date,c."location",c.host_organization,c.event_level,c.status,
               e.id,e.name,e.category,e.rules,e.start_time
        from competition_info c
                 left join events e on c.competition_id = e.competition_id
                 left join player_matches pm on e.id = pm.events_id
        where pm.user_id=#{id}
    </select>

    <select id="getEventsIdById" resultType="java.lang.Long">
        select e.id
        from events e
                 left join competition_info c on e.competition_id = c.competition_id
        where c.competition_id = #{competitionId}
    </select>

    <select id="getEventNameById" resultType="java.lang.String">
        select name
        from events
        where id = #{eventId}
    </select>

</mapper>