<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbitech.mapper.HistoryMapper">


    <select id="historyPage" resultType="com.sbitech.vo.HistoryVO">
        select
        pm.id,pm.events_id,pm.user_id,pm.player_number,pm.status,pm.time,
        pli.username,pli.real_name,pli.team,pli.phone,
        e.category,e.rules,
        s.score
        from player_matches pm
        left join player_info pli on pm.user_id = pli.id
        left join events e on pm.events_id = e.id
        left join scores s on s.player_match_id=pm.id
        <where>
            <if test="startTime != null">
                AND pm.time >= #{startTime}
            </if>
            <if test="endTime != null">
                AND pm.time &lt;= #{endTime}
            </if>
            <if test="category != null and category != ''">
                AND e.category = #{category}
            </if>
            <if test="name != null and name != ''">
                AND pli.real_name = #{name}
            </if>
        </where>
        ORDER BY pm.time DESC
    </select>
</mapper>