<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbitech.mapper.NotificationsMapper">

    <select id="getNotifications" resultType="com.sbitech.entity.Notifications">
        select *
        from notifications
        where referee_id = #{refereeId}
    </select>
</mapper>