<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbitech.mapper.SessionMapper">


    <insert id="generateSession">
        insert into session (session_token, user_id, user_name, routine_id, routine_name,
                             event_id, event_name, start_time, end_time, status, created_at)
        values (#{sessionToken}, #{userId}, #{userName}, #{routineId}, #{routineName}, #{eventId},
                #{eventName}, #{startTime}, #{endTime}, #{status}, #{createdAt});
    </insert>

    <select id="getSessionToken" resultType="com.sbitech.entity.Session">
        select *
        from session
        where session_token = #{sessionToken}
    </select>

</mapper>